files:
    "/root/.ssh/config":
        owner: root
        group: root
        mode: "000600"
        content: |
            Host github.com
                User git
                Hostname github.com
                IdentityFile /root/.ssh/<username>-github-deploy
    "/root/.ssh/known_hosts":
        owner: root
        group: root
        mode: "000644"
        content: |
            #
            # paste output of `ssh-keyscan -H github.com` here
            #
commands:
    01-command:
        command: sudo aws s3 cp s3://gradient-deployment-key/<username>-github-deploy /root/.ssh
    02-command:
        command: sudo chmod 600 /root/.ssh/<username>-github-deploy